@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.video-item{
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img{
    max-width: 180px;
    border-radius: 10px;
}
.ui-contain{
    background-image: linear-gradient(#2f3640,#bebebe);
}

.ui_seg{
    padding: 10px;
    color: #fff;
    
}
.ui_seg .ui_form{
    padding: 54px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #fff;
    
    
}

.ui_seg .ui_form .search-box{
    position: absolute;
    top:40px;
    left: 22%;
    height: 50px;
    width: 60%;
    background-color: #2f3640;
    padding: 10px;
    border-radius: 40px;

}
.ui_seg .ui_form h3{
    position: absolute;
    color: #2f3640;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    top: 40px;
    left: 20px;
}
.ui_seg .ui_form .search-box .search-txt{
    border: none;
    background: none;
    outline: none;
    left: 40px;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: 'Righteous', cursive;
    transition: 0.4s;
    line-height: 30px;
    width: 100%;
}

.ui_seg .ui_form .icon-lt{
    position: absolute;
    top: 90px;
    left: 50px;
    font-size: 18px;
}
.ui_seg .ui_form .icon-rt{
    position: absolute;
    top: 90px;
    right: 150px;
}

.ui_seg .ui_form a{
    color: #2f3640;
}