@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* form{
  display: grid;
  margin-left: 0%;
  height: 100%;
  place-items: center;
} */
form .wrapper{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 350px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 10px;
  
}
form .wrapper .title{
  background: #333;
  color: #fff;
  line-height: 65px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}
form .wrapper .box{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}
.dropdown{
  padding: 20px;
}
.translate{
  padding: 20px;
}
button{
  outline: none;
  margin:0 90px;
  border: 0;
  font-size: 15px;
  font-family: 'Do Hyeon', sans-serif;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 30px;
  background: #333;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s linear;
  left: 150px;
}
/* .splash{
  text-align: center;/
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
} */




*, *::before, *::after {
  box-sizing: border-box;
}
form .wrapper .box .custom-field-one{
  font-size: 14px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
  
  
}
form .wrapper .box .custom-field-one input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  height: 25px;
  outline: none;
  font-size: 14px;
  border-color:#fff;
  transition: border-color 0.3 ease;
}

form .wrapper .box .custom-field-one .placeholder{
  position: absolute;
  left: 42px;
  font-size: 15px;
  top: 26%;
  color: #aaa;
  font-family: 'Do Hyeon', sans-serif;
  transition: 
          top 0.3s ease,
          font-size 0.3 ease,
          color 0.3 ease;
}

form .wrapper .box .custom-field-one input:valid + .placeholder,
form .wrapper .box .custom-field-one input:focus + .placeholder{
  top: 20%;
  font-size: 10px;
  color: #000;
  border-color: #000;
}

form .wrapper .box .custom-field-two .comments{
  left: 50px;
  font-size: 17px;
  font-family: 'Do Hyeon', sans-serif;
}
form .wrapper .box .custom-field-two textarea{
  background: #f2f2f2;
  border-radius: 3px;
}


form .wrapper .box .custom-select select{
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  font-size: 15px;
  padding: 4px 20px;
  background: #333;
  color: #fff;
  font-style: bold;
  border-radius: 10px;
  left: 40px;
  cursor: pointer;
  
}
form .wrapper .box .custom-select label{
  text-align: center;
  font-size: 17px;
  font-family: 'Do Hyeon', sans-serif;
}

.image-lt{
  position: absolute;
  right: 20px;
}
.image-rt{
  right: 20%;
}







